@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}

.apresentacao {
    margin: 10% 15%;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    gap:50px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex; 
    flex-direction: column; 
    gap: 10px;

}

.apresentacao__conteudo__titulo{
    font-size: 40px;
    font-family:"Sour Gummy", sans-serif;
}

.apresentacao__conteudo__sub {
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    text-align: justify;

}

.apresentacao__conteudo__texto{
    font-size: 18px;
    font-family: "DM Sans", sans-serif; 
    text-align: justify;  
}

.apresentacao__conteudo__final{
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    text-align: justify;
}

.apresentacao__links__h {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__h__link {
    background-color: #22D4FD;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    font-family: "DM sans", sans-serif; 

}