@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --mandalorian: #181C14;
    --babyyoda: #E9EED9;
    --bobafett: #D6C0B3;
    --bokatan: #ECDFCC;
    --luke: #fff8f1;
}

body {
    box-sizing: border-box;
    background-color: var(--mandalorian);
    color: var(--bokatan);
    font-family: 'Michroma', serif;
}

.cabecalho {
    padding: 0% 0% 0% 0%;

}


.menu__nav__link {
    text-decoration: none;
}

.apresentacao{
    padding:5% 15%;

}

.t1 {
    color: var(--bokatan);
    font-size: 65px;
}

.t2 {
    font-size: 30px;
}



.alura{ 
    text-decoration: none;
}


.rodape {
    background-color: var(--bokatan);
    color: var(--mandalorian);
    width: 100%;
    padding: 4px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    gap: 5%;
}