@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --mandalorian: #181C14;
    --babyyoda: #54B435;
    --bobafett: #DE774E;
    --bokatan: #F4E0AF;
    --luke: #B0D553;
}

body {
    box-sizing: border-box;
    background-color: var(--mandalorian);
    color: var(--bokatan);
    font-family: 'Michroma', serif;
}

.cabecalho{
    padding: 2% 0 0 10%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    color: var(--bokatan);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10% 10% 10%;
    display: flex;
    align-items: center;
    gap: 60px;
}

.apresentacao_intro {
    width: 615px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;

}

.apresentacao_titulo {
    font-size: 55px;
    color: var(--babyyoda);
    text-align: center;

}

.apresentacao_subtitulo {
    font-size: 24px;
    color: var(--babyyoda);
    text-align: justify;
    text-align: center;
    margin-bottom: 5%;
}

.apresentacao__tech{
    color:var(--luke)
}


.apresentacao_fim {
    width: 615px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: justify;
    gap: 18px;

}

.apresentacao_fim_alura{
    text-decoration: none;
    color: var(--bobafett);
    font-weight: bold;
}

.apresentacao__links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    font-size: 15px;
    
}

.apresentacao__links_button{
    border: 1.12px;
    border: solid;
    border-color: var(--luke);
    color: var(--bobafett);
    width: 180px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 16px;
    padding: 10px;

}

.linkedin{
    width: 10%;
}
.githubb{
    width: 10%;
}
.rodape {
    font-size: 12px;
    background-color: var(--bokatan);
    color: var(--mandalorian);
    padding: 7px;
    text-align: center;
}