@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --mandalorian: #181C14;
    --babyyoda: #54B435;
    --bobafett: #DE774E;
    --bokatan: #F4E0AF;
    --luke: #B0D553;
}

body {
    box-sizing: border-box;
    background-color: var(--mandalorian);
    color: var(--bokatan);
    font-family: 'Michroma', serif;
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho_menu {
    display: flex;
    gap: 5rem;
}

.cabecalho_menu_link {
    color: var(--bobafett);
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: var(--bokatan);
    cursor: pointer;
    transition: color 0.15s, cursor 0.15s;
}

.apresentacao {
    display: flex;
    padding-bottom: 5%;
}

.apresentacao_section {
    padding: 3% 0% 0% 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
    text-align: justify;
}

.apresentacao_titulo {
    font-size: 1.5rem;
    color: var(--babyyoda);
}

.apresentacao_da_imagem {
    display: flex;
    justify-content: center;
    align-self: center;
}

.apresentacao_imagem {
    width: 45%;
}

.rodape {
    font-size: 0.75rem;
    background-color: var(--bobafett);
    color: var(--mandalorian);
    padding: 0.44rem 0 0.55rem 0;
    text-align: center;
}